<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.verygoodsecurity.vgscheckout">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application android:supportsRtl="true">

        <activity
            android:name=".ui.CustomCheckoutActivity"
            android:theme="@style/VGSCheckout"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.SaveCardActivity"
            android:theme="@style/VGSCheckout"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.PaymentCheckoutActivity"
            android:theme="@style/VGSCheckout"
            android:windowSoftInputMode="adjustResize" />
    </application>
</manifest>