<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.verygoodsecurity.vgscheckout">

    <application
        android:supportsRtl="true">

        <activity
            android:name=".ui.CheckoutActivity"
            android:theme="@style/VGSCheckout" />

        <activity
        android:name=".ui.CheckoutMultiplexingActivity"
        android:theme="@style/VGSCheckout" />
    </application>
</manifest>